.button {
    width: 30%;
    height: 80%;

    background-color: white;
    border: none;
    border-radius: 3vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.button div {
    font-size: 3vw;
    transition: 1s;
}


.button img {
    max-width: 70%;
    max-height: 50%;
    transition: 1s;
}

.button:hover {
    filter: invert(100%);
}

.button:hover img {
    transform: rotate(360deg) scale(110%);
}

.button:hover div {
    transform: scale(120%);
}