.button {
    position: fixed;
    left: 3vw;
    top: 3vh;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.button img {
    transform: rotate(-180deg);
    width: 5vw;
    transition: 1s;
}

.button:hover img {
    transform: rotate(180deg) scale(150%);
}