.main {
    background-color: rgb(062 095 138);

    height: 100%;
    width: 70%;
    padding-left: 1.25%;
    padding-right: 1.25%;

    border-radius: 3vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.specifications {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.specifications input {
    width: 75%;
    border: none;
    background-color: transparent;
    text-align: center;
    color: white;
}

.specifications label {
    width: 75%;
    width: auto;
    color: white;
}

.specifications .trash {
    height: 5vh;
}