.main {
    width: 100vw;
    height: 100vh;
}

.main canvas {
    width: 100%;
    height: 100%;
}

.arrows {
    position: fixed;
    bottom: 1vw;
    left: 3vw;
    height: 5vw;
    width: 25vw;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.arrow {
    width: 5vw;
    height: 5vw;
}

.selected {
    filter: invert(100%);
}