body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  transition: 0s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  transition: 1s;
}

.unselectable {
  user-select: none;
  pointer-events: none;
}

#canvas {
  transition: 0s;
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;
  z-index: -1;
}