.main {
    width: 100vw;
    height: 100vh;

    /* background-color: aliceblue; */
    background-color: rgb(250 210 001);

    display: flex;
    justify-content: center;
    align-items: center;
}